<?xml version="1.0"?>
<unity xmlns="schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="Contracts.IMainPresenter, Contracts" mapTo="Presenters.MainPresenter, Presenters" name="default" />
    <register type="Contracts.IMainPresenter, Contracts" mapTo="LoggingPresenters.LoggingPresenter, LoggingPresenters" />
  </container>
</unity>